# Python virtual environments
.venv/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Streamlit cache
.streamlit/

# Environments
.env

# VS Code settings
.vscode/

# OS files
.DS_Store
Thumbs.db
